extends ../layout/admin
block title 
  | Слайдеры

block main
  #board
    .wrapper
      .top-page
        .left 
          h3 Слайдеры
        .right
      .catalogue-list
        .catalogue-list-line
          .title Главная страница
          .control
            a.uk-button.uk-button-text(href="/backend/sliders/1") Редактирование
        .catalogue-list-line
          .title Страница «двигатели»
          .control
            a.uk-button.uk-button-text(href="/backend/sliders/2") Редактирование
        .catalogue-list-line
          .title Страница «печи»
          .control
            a.uk-button.uk-button-text(href="/backend/sliders/3") Редактирование
        .catalogue-list-line
          .title Страница «промышленное оборудование»
          .control
            a.uk-button.uk-button-text(href="/backend/sliders/4") Редактирование
