#about
  .title-block
    .wrapper
      h2 О компании 
  .wrapper
    .description
      h3 Компания JackShaft (Beijing) Technology основана более 10 лет назад, является интегрированной компанией, основные бизнес-сегменты представлены ниже:
  .wrapper
    .industry-list
      .industry-list__item  
        .industry-list__item-left
          h2.industry-list__item-left__title Проектирование и производство электродвигателей любого типа и мощности
          .industry-list__item-left__body Благодаря наличию собственных производственных баз и испытательных электротехнических лабораторий, обеспечивается 100%-ый контроль качества всей выпускаемой продукции, начиная со стадии контроля поступления исходных материалов и заканчивая выходными заводскими испытаниями
          a.uk-button.uk-button-link(href="/industry/1/info/" title="Подробнее") Узнать больше
              
        .industry-list__item-right
          img.lazy(data-src="https://cdn.jsdelivr.net/npm/cdncw-jackshaft@v0.0.1/img/segment1.jpg" alt="Проектирование и производство электродвигателей любого типа и мощности")
      .industry-list__item  
        .industry-list__item-left
          h2.industry-list__item-left__title Строительство промышленных печей "под ключ", модернизация и реконструкция нагревательных печей
          .industry-list__item-left__body Выполним весь комплекс работ по строительству промышленных нагревательных печей: проектирование, производство, поставка, подготовка документации, монтаж, пусконаладочные работы, ввод в эксплуатацию
          a.uk-button.uk-button-link(href="/industry/2/info/" title="Подробнее") Узнать больше
              
        .industry-list__item-right
          img.lazy(data-src="https://cdn.jsdelivr.net/npm/cdncw-jackshaft@v0.0.1/img/segment2.jpg" alt="Строительство промышленных печей под ключ, модернизация и реконструкция нагревательных печей")
      .industry-list__item  
        .industry-list__item-left
          h2.industry-list__item-left__title Комплексные поставки промышленного оборудования, спецтехники и химических  реагентов
          .industry-list__item-left__body Наработанная в течение долгого времени база проверенных производителей, отлаженные схемы поставки, коллектив профессионалов- единомышленников в сфере организации комплексных поставок промышленного оборудования - все это позволяет нам в сжатые сроки выполнить требования даже взыскательных клиентов
          a.uk-button.uk-button-link(href="/industry/3/info/" title="Подробнее") Узнать больше
              
        .industry-list__item-right
          img.lazy(data-src="https://cdn.jsdelivr.net/npm/cdncw-jackshaft@v0.0.1/img/segment3.jpg" alt="Комплексные поставки промышленного оборудования, спецтехники и химических  реагентов")