extends layout/index
include mixins/contact

block title 
  | Трехфазные синхронные электродвигатели переменного тока высокого напряжения
block css
  link(rel="preload" href="https://cdn.jsdelivr.net/npm/cdncw-jackshaft@" + version + "/css/catalogue.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'")
block noscript
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/cdncw-jackshaft@" + version + "/css/catalogue.min.css")

block main
  #info
    .title-block
      .wrapper
        h2 Трехфазные синхронные электродвигатели переменного тока высокого напряжения
    .wrapper.catalogue-body
      .left
        img(src="/img/4_0.png" alt="")
      .right
        .description 
          p 
            strong Синхронные электродвигатели высокого напряжения серии JS-SM 
            | применяются в различных отраслях промышленности для привода механизмов, работающих при интенсивных нагрузках в продолжительном режиме работы, без частых пусков и остановов.
          p 
            strong Характеристики синхронных двигателей 
            | Устройство синхронного двигателя позволяет оптимизировать его режим работы за счет автоматической регулировки тока возбуждения. Синхронный двигатель может эксплуатироваться без потребления реактивной энергии, а при коэффициенте мощности, равном единице, двигатель во время работы нагружает питающую сеть активным током. Обмотка статора синхронного двигателя рассчитана исключительно на активный ток (в отличие от асинхронного двигателя), что позволяет значительно уменьшить габаритные размеры мотора при сохранении мощности и существенном увеличении КПД.
          p
            strong Синхронные электродвигатели обладают следующими преимуществами:
            ul.list
              li Стабильность характеристик при колебании напряжения питающей сети;
              li Высокая перегрузочная способность, обеспечивающая стабильную скорость вращения вала;
              li Высокая надежность за счет увеличенных воздушных зазоров;
              li Высокий коэффициент мощности cosФ = 0,
              li Возможность применения на предприятиях для повышения общего коэффициента мощности.
          p Преимущества синхронных двигателей наиболее ярко проявляются во время эксплуатации на малой скорости вращения при непосредственном соединении двигателя с приводным механизмом.     
  #info-sub
    .title-block
      .wrapper
        h3 Технические характеристики типовых моделей синхронных электродвигателей горизонтального исполнения серии JS-AM приведены в следующих таблицах

    .wrapper.catalogue-body.tables(uk-lightbox)
      a.table(href="/img/JS-SM-01.jpg")
        img.lazy(data-src="/img/JS-SM-01.jpg" alt="Table")
      a.table(href="/img/JS-SM-02.jpg")
        img.lazy(data-src="/img/JS-SM-02.jpg" alt="Table")
      a.table(href="/img/JS-SM-03.jpg")
        img.lazy(data-src="/img/JS-SM-03.jpg" alt="Table")
      a.table(href="/img/JS-SM-04.jpg")
        img.lazy(data-src="/img/JS-SM-04.jpg" alt="Table")

    .title-block
      .wrapper
        h3 Оставьте заявку, и наш специалист свяжется с Вами в ближайшее рабочее время. 
      .wrapper
        +contact('0', ['h-radio1', 'h-radio2', 'h-radio3', 'h-radio4', 'h-radio5', 'h-radio6'], 'mainDZ')
