extends layout/index
block title 
  | Галлерея

block css
  link(rel="preload" href="https://cdn.jsdelivr.net/npm/cdncw-jackshaft@" + version + "/css/page.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'")
block noscript
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cdncw-jackshaft@" + version + "/css/page.min.css")

block main
  section#gallery
    .title-block
      .wrapper
        h2 Альбомы
    .wrapper
      .gallery-albums
        each album in albums
          a.album(href='/gallery/' + album._id style=`background: url('${album.image}')`)
            .title=album.title.ru