extends layout/index
include mixins/contact
include mixins/slider

block title 
  | Промышленное оборудование

block css
  link(rel="preload" href="https://cdn.jsdelivr.net/npm/cdncw-jackshaft@" + version + "/css/page.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'")
  link(rel="preload" href="https://cdn.jsdelivr.net/npm/cdncw-jackshaft@" + version + "/css/catalogue.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'")
block noscript
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cdncw-jackshaft@" + version + "/css/page.min.css")
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/cdncw-jackshaft@" + version + "/css/catalogue.min.css")

block main
  #hero
    +slider(slides)
  #page
    .title-block
      .wrapper
        h2 Информация
    .wrapper
      .text 
        h4 
          | JackShaft (Beijing)Technology Co.,Ltd  - 
          strong надежное звено Вашего бизнеса с Китаем​
        p 
          | Одним из основных направлений деятельности компании JackShaft является поставка промышленного оборудования и химреагентики для компаний из различных секторов промышленности России и стран СНГ.  
        p 
          | Мы осуществляем:
        ul
          li Поставки разрозненного комплексного оборудования;​
          li Строительство объектов на условиях «под ключ».​
        p 
          | Схема работы нашей компании представлена ниже​
        br  
        br  
        center
          img(src="/img/g1.png" alt="")
        br
        br
        h4 Наши преимущества:​
        ul
          li 
            strong Мы предоставляем комплексные услуги
            | – заключая контракт с нами, Вы получаете надежного партнера, предоставляющего полный пакет услуг, что позволит Вам эффективно достичь поставленных целей, сэкономив при этом Ваши деньги и время. 
            strong Комплекс услуг включает в себя:
            | поиск и отбор поставщиков, проверка их надежности, ведение переговоров с поставщиками, консалтинг, агентирование, сертификация и контроль качества, перевод и подготовка технической документации, таможенное оформление, логистика и страхование, монтаж, ПНР, ввод в эксплуатацию, гарантийное обслуживание и обучение персонала Заказчика;​
          li
            strong Богатый опыт в сфере внешнеэкономической деятельности 
            | -  это позволит Вам избежать
            strong «подводных камней»
            | при совершении сделок с китайской компанией-
            span.red производителем
            | , а также сэкономить, применив налаженные нами за долгое время работы схемы сотрудничества с иностранными компаниями;​
          li
            strong 
              span.red Безупречное 
            strong знание китайского законодательства 
            | – обеспечит строгое соблюдение законов и правил КНР, гарантирует точное соблюдение 
            span.red производителем договорных условий;​
          li
            strong Наличие реального опыта оформления грузов на различных таможенных постах и в различных таможенных режимах;
          li 
            strong Долгосрочное стратегическое партнерство с ведущими международными транспортно-логистическими компаниями, 
            | что позволяет предоставлять оптимальные ставки на перевозки для 
            span.red наших
            | клиентов;​
          li 
            strong Налаженные отношения с торгово-промышленной палатой Китая,
            | что способствует быстрому поиску
            span.red производителей
            | и оперативной проверке их надежности и финансовой состоятельности.​
          li
            strong Большое количество успешно реализованных проектов.​
        br
        br
        h4 В настоящее время мы успешно осуществляем поставку следующих позиций:​
        ul.list
          li Спецтехника​
            ul.sub
              li дорожная спецтехника;​
              li коммунальные машины;​
              li все виды строительной спецтехники;​
              li сельхозтехника;​
              li машины для производственных нужд;​
              li ​все виды автомобильной спецтехники;
              li машины для разработки карьеров;​
              li спецтехника для нефте- и газодобычи и т.д.​
          li Горно-шахтное оборудование​
            ul.sub
              li Сгустители и отстойники;​
              li Мельницы и дробилки;​
              li Контактные (агитационные) чаны;​
              li Драги;​
              li Зумпфы и пульподелители;​
              li ​Грохоты, конвейеры и элеваторы;​
              li Погрузочные машины, лебедки;​
              li Оборудование обогащения и выщелачивания и т.д.​

          li Нефтегазовое и буровое оборудование​
            ul.sub
              li Насосно-компрессорное оборудование;​
              li Оборудование для бурения, эксплуатации, ремонта и исследования скважин;​
              li Трубопроводы и трубопроводная арматура;
              li Контактные (агитационные) чаны;

          li Общепромышленное оборудование​
          li Химическая продукция, реагенты​
          br
          br
          h4 Оставьте заявку, и наш специалист свяжется с Вами в ближайшее рабочее время. ​
          +contact('0', ['h-radio1', 'h-radio2', 'h-radio3', 'h-radio4', 'h-radio5', 'h-radio6'], 'mainDZ')
