extends layout/index

block title 
  | Кольцевая печь
block css
  link(rel="preload" href="https://cdn.jsdelivr.net/npm/cdncw-jackshaft@" + version + "/css/page.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'")
  link(rel="preload" href="https://cdn.jsdelivr.net/npm/cdncw-jackshaft@" + version + "/css/catalogue.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'")
block noscript
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cdncw-jackshaft@" + version + "/css/page.min.css")
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/cdncw-jackshaft@" + version + "/css/catalogue.min.css")

block main
  #page.noslider  
    .title-block
      .wrapper
        h2 Кольцевая печь с вращающимся подом
    .wrapper
      p
        center
          img.lazy.wide(data-src="/img/segment2.jpg" alt="")
      p 
        strong Кольцевая печь 
        | – это методическая печь, в которой нагревательные изделия транспортируются через рабочее пространство на вращающемся поде, поэтому иногда кольцевую печь называют печью с кольцевым подом или карусельной печью. Кольцевая (карусельная) печь представляет собой каркас, футерованный изнутри огнеупорами и теплоизоляционными материалами.
      p Под кольцевой (карусельной) печи может быть дисковым диаметром до 5м, вращающемся на центральной цапфе в цилиндрическом рабочем пространстве и кольцевом поде с внешним диаметром до 30м и шириной до 6м, вращающимся на опорных роликах по круговым рельсам в кольцевом рабочем пространстве. Карусельная печь с вращающимся подом является автоматизированным агрегатом, обеспечивающим равномерный нагрев трубной или другой заготовки до заданной температуры.
      p <strong>Преимущества печи с кольцевым вращающимся подом перед остальными методическими печами: </strong>
      p а) заготовки лежат неподвижно на вращающемся поду, поэтому в них можно нагревать заготовки и круглого сечения;
      p б) самый низкий угар металла (0,5-0,7 %);
      p в) высокая равномерность нагрева по периметру заготовок круглого сечения.
      p Кольцевая (карусельная) печь отапливается газообразным топливом через горелки, расположенные в наружной и внутренней боковых стенах. Боковое расположение горелок, по аналогии со сводовым, позволяет достаточно просто организовать многозонный режим нагрева заготовок.
      p Кольцевые печи с вращающимся подом обладают всеми данными для широкого использования при нагреве круглой заготовки, а также слитков на металлургических, трубопрокатных и машиностроительных предприятиях. Температура нагрева металла в кольцевой печи с вращающимся подом сосавляет 1110-1250°С.
      p Отрасль: металлургия, керамическая промышленность,.
      p Область применения: производство грубой строительной керамики, нагрев заготовок в трубном производстве, нагрев металла, обжиг известняка, обжиг кирпича, обжиг магнезитового шпата, прямое восстановление железа.
      p <strong> Кольцевая печь с вращающимся подом для прямого восстановления железа </strong>
      p 
        h4 Характеристики печи:
        ul.list
          li Диаметр пода – ф 8м;
          li Внутренняя ширина – 1060 мм;
          li Ширина пода печи – 1100 мм;
          li Температура обжига материала — 1400℃ Мах;
          li Гомогенность температуры печи — ±5℃;
          li Топливо – природный газ;
          li Давление топлива – 3-5 Кра;
          li Атмосфера внутри печи – восстановительная атмосфера
          li Тип горелок – регенеративные горелки.
      p
        center
          img.lazy(data-src="/img/fur/12.png" alt="")
