extends layout/index

block title 
  | Шахтная печь
block css
  link(rel="preload" href="https://cdn.jsdelivr.net/npm/cdncw-jackshaft@" + version + "/css/page.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'")
  link(rel="preload" href="https://cdn.jsdelivr.net/npm/cdncw-jackshaft@" + version + "/css/catalogue.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'")
block noscript
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cdncw-jackshaft@" + version + "/css/page.min.css")
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/cdncw-jackshaft@" + version + "/css/catalogue.min.css")

block main
  #page.noslider  
    .title-block
      .wrapper
        h2 Шахтная печь
    .wrapper
      p
        strong Шахтная печь  — вид металлургических печей, предназначенных для плавки и обжига кусковых материалов, а также для термической обработки  металлических изделий.
      p Шахтные печи ха­рак­те­ри­зу­ют­ся большими значениями те­п­ло­вого  КПД и высокой про­из­во­ди­тель­но­стью. Сгорание то­п­ли­ва происходит или в самой шахтной печи или в специальной вы­нос­ной топ­ке, откуда го­ря­чие про­дук­ты го­ре­ния подаются в печь. Как правило, в состав основных элементов шахтных печей входят кокошник для загрузки  шихты и отвода газов, сама шахта печи, горн для сбора жидких продуктов выплавки и фурмы для подачи топлива или горячих газов. Обрабатываемые материалы поступают в рабочий объём печи сверху, навстречу ему газообразные продукты горения топлива формируют в печи восходящий поток, а готовый продукт выходит снизу.
        img.lazy.wide(data-src="/img/fur/1.png" alt="" )
      p Отрасль: цветная металлургия, чёрная металлургия
      p Область применения  выплав­ка чугуна , же­лез­а ( доменный процесс ) и других металлов. Об­жи­г из­вест­ня­ка, для пря­мо­го по­лу­че­ния же­ле­за в ходе об­жи­га и ме­тал­ли­за­ции же­ле­зо­руд­но­го сы­рья и т. п.
      p
        strong Шахтная печь для производства железа прямого восстановления производительностью 10,000 тонн в год
      ul.block-gallery
        li
          img.lazy(data-src="/img/fur/2.png" alt="")
        li
          img.lazy(data-src="/img/fur/3.png" alt="")
      p
        h4  Характеристики печи:
      ul.list
        li Производительность шахтной печи — 10,000 тонн; 
        li
          | Сырьё для восстановительной печи – окатыши с окисью
          | железа, кусковая руда 10-30;
        li Вид топлива – природный газ;
        li Теплотворная способность топлива – 8500 х 4.18 KJ/Nm3;
        li Давление газа – 3-8 Кра;
        li Рабочая температура — 1150°С;
        li Расчётная температура — 1200°С;
        li Активная длина – 4020 мм;
        li Активная ширина – 3520 мм;
        li Активная высота – 8568 мм;
        li Количество шахтных вагонеток – 8 единиц;
        li Количество горелок – 30 единиц плоских газовых горелок;
        li Способ управления – S7-300 PLC + управление с помощью ЭВМ;
        li Способ загрузки/выгрузки материала – полностью автоматическая, последовательная загрузка со свода и выгрузка через основание печи.
      p
        strong Шахтная печь для производства железа прямого восстановления производит 50,000 тонн в год
      ul.block-gallery
        li

          img.lazy(data-src="/img/fur/4.png" alt="")
        li
          img.lazy(data-src="/img/fur/5.png" alt="")
      p 
        h4 Характеристики печи:
      ul.list
        li Производительность шахтной печи — 50,000 тонн;
        li Сырьё для восстановительной печи – окатыши с окисью железа, кусковая руда 10-30;
        li Активные габариты восстановительной печи – (длинаХширинаХвысота) 11.49м Х 1.86м  12.988м;
        li Восстановительная способность – 25000 тонн/год/единица Х 2 единицы (2 единицы восстановительных печей производятся параллельно);
        li Температура восстановления — 1050°С-1100°С (максимальная температура 1150°С);
        li Расчётная температура — 1250°С;
        li Топливо и теплотворная способность – горячий газ, 1450 х 4.18 KJ/Nm3;
        li Установка генератора горячего газа – 2 секционных газогенератора диаметром 3.0;
        li Аппарат для сжигания – 52 Х 2 единицы плоских газовых горелок для газогенератора, 26 Х 2 единицы смешанных плоских газовых горелок для газогенератора и технологического газа;
        li Количество шахтных вагонеток – 12 штук на одной единице печи;
        li Способ подогрева воздуха и температуры – горизонтальный барабанный трубчатый теплообменник с штепсельным разъёмом (2 единицы);
        li Температура ≥400°С;
        li Способ подогрева газа и температуры – теплоизоляция трубопровода с горячим газом, температура ≥ 350°С;
        li Способ загрузки/выгрузки материала — полностью автоматическая, последовательная загрузка со свода и выгрузка через основание печи.
