extends layout/index

block title 
  | Туннельная печь
block css
  link(rel="preload" href="https://cdn.jsdelivr.net/npm/cdncw-jackshaft@" + version + "/css/page.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'")
  link(rel="preload" href="https://cdn.jsdelivr.net/npm/cdncw-jackshaft@" + version + "/css/catalogue.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'")
block noscript
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cdncw-jackshaft@" + version + "/css/page.min.css")
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/cdncw-jackshaft@" + version + "/css/catalogue.min.css")
  
block main
  #page.noslider  
    .title-block
      .wrapper
        h2 Туннельная печь
    .wrapper
      p
        center
          img.lazy.wide(data-src="/img/fur/6.jpg" alt="")
      p 
        strong Туннельная печь 
        | была придумана вскоре после создания технологии обжига глины. Для промышленного производства была разработана и создана конструкция печи, позволяющая максимально использовать полученное в процессе сгорания топлива тепло. Конструкция получила название по внешнему виду. Печь представляет собой туннель с различными температурными зонами, через который с необходимой скоростью перемещается продукция. Наиболее востребованной туннельная печь оказалась при производстве глиняного кирпича. Излишки тепла, полученные при обжиге, использовались для сушки заготовок и бытовых потребностей предприятия. Туннельные или проходные печи обычно состоят из нескольких прифланцованных одна к другой секций. Такие секции образуют туннель, через который пригодным для этого ленточным конвейером перемещаются обрабатываемые изделия. Загрузка обрабатываемых изделий на ленточный конвейер и разгрузка с него обработанных изделий происходят соответственно на загрузочной и разгрузочной позициях. Для нагрева туннельных печей используют либо горелки, либо электронагревательные элементы.
      p Отрасль: керамическая промышленность, металлургическая промышленность.
      p Область применения: обжиг кирпича, глины, обжиг изделий из керамики, термообработка труб, обжиг проволокообразных изделий.
      p 
        strong Печь для обжига проволокообразных изделий с открытым пламенем
      p 
        center
          img.lazy(data-src="/img/fur/7.png" alt="")
      p
        h4 Производительность:
      p
        ul.list
          li Максимальная производительность печи — 3788.80 кг/час (размер продукта φ3.2мм) ;
          li Минимальная производительность печи — 3078.40 кг/час (размер продукта φ2.6мм) ;
          li Обрабатывающая спопосбность печи — 25574.40 тонн/год (на основании работы печи 7200 часов/год).
      p 
        h4 Характеристики печи:
      p
        ul.list
          li Длина печи (включая отдел подвода тепла и предварительного подогрева) – 28,304 метра;
          li Чистая ширина внутри печи – 1276 мм;
          li Количество подотделов в отделе подвода тепла – 5;
          li Количество горелок – 44 штуки;
          li Максимальная рабочая температура — 1100°С;
          li Максимальная тепловая мощность — 146×104×4.18 KJ/h;
          li Проектированная тепловая мощность — 110×104×4.18 KJ/h;
          li Топливо – природный газ.
      p 
        h4 Характеристики продукта:
      p
        ul.list
          li Продукт – проволока из высокоуглеродистой стали;
          li Размер продукта – стальная проволока φ 2,6 — φ 3,2мм;
          li Производительность – 19000 тонн/год;
          li Обрабатываемый материал — проволока из высокоуглеродистой стали (0,7-0,9%С) ;
          li Количество проволок в печи – 32;
          li Интервал между проволокой внутри печи — 34±1мм;
          li Высотная отметка проволоки в печи — +914 мм.
      br
      br
      br
      p
        h4 <strong>Термическая обработка (отжиг) труб </strong>
      p  К основному оборудованию термических отделений трубных цехов относится оборудование термических печей проходного и камерного типа с механизмами загрузки и выгрузки, с оборудованием отделки труб, устанавливаемым в потоке. К вспомогательному оборудованию относятся системы утилизации тепла продуктов сгорания, дымососы и дымовые трубы, установки контроля и регулирования технологического процесса.
      p Отрасль: металлургия
      p Область применения: термическая обработка труб с твёрдым раствором, отжиг и закалка труб.
      p
        ul.block-gallery
          li
            img.lazy(data-src="/img/fur/8.jpg" alt="")
          li
            img.lazy(data-src="/img/fur/9.png" alt="")
      p
        h4 <strong>Печь для термической обработки труб</strong>  
      p
        center
          img.lazy(data-src="/img/fur/10.jpg" alt="") 
      p
        h3 Характеристики печи:
      p
        ul.list
          li Длина – загрузка труб длиной 12.5 метров;
          li Внутренняя длина – 13100 мм;
          li Внутренняя ширина – 4700 мм;
          li Эффективная ширина при загрузке – 4000 мм;
          li Внешняя ширина печи – 5580 мм;
          li Проектная температура — 1100 ℃;
          li Производительность – 20000 тонн/год;
          li Привод – цевочная передача редуктора тележки печи;
          li Скорость движения тележки – 6-8м/мин, снижает скорость у дверей печи до 0,15 м/с;
          li Перепад температуры в томильной камере —  во всех местах печи погрешность температуры составляет ≤±5℃;
          li Точность контроля за температурой в томильной камере — ≤±1℃;
          li Скорость повышения температуры — ≤150℃/час, настраиваемая;
          li Нагрев пустой печи — ≤3.5 часа;
          li Вес загрузки продукта – 50 тонн (не включая металлическую опору) ;
          li Способ контроля за печью – авто/ручной контроль. Контроль вручную производится посредством сенсорного экрана. Автоматический контроль производится посредством  PLC+WINCC. Промышленый компьютер отвечает за централизованное управление системы и мониторингом за печью.
      p 
        h3 Характеристики продукта:
      p
        h5 Спецификация труб:
      p
        ul.list
          li Внешний диаметр — Φ219～508 мм (Φ351～426 мм ведущий стандарт) ;
          li Толщина стенок – 15-100 мм;
          li Длина труб – 5000 – 12500 мм;
          li Форма конца труб – плоский конец;
          li Способ термической обработки – нормализационный отжиг, закалка и в тоже время отпуск;
          li Производительность – 17000-20000 тонн/год (нормализационный отжиг, закалка — 5000 тонн/год, отжиг, отпуск — 12000-15000 тонн/год). Эксплуатационный режим – 5000 час/год.
