meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(http-equiv='X-UA-Compatible' content='ie=edge')
meta(name='identifier-url' content='htttp://jackshaft.ru')
meta(name='title' content='Jackshaft')
meta(name='description' content='Jackshaft')
meta(name='abstract' content='Jackshaft')
meta(name='keywords' content=keywords)
meta(name='author' content='creawave studio')
meta(name='revisit-after' content='15')
meta(name='language' content='RU')
meta(name='copyright' content='© 2019 Creawave studio')
meta(name='robots' content='All')
meta(property='og:type' content='website')
meta(property='og:site_name' content='Jackshaft')
meta(property='og:title' content='Jackshaft')
meta(property='og:description' content='Jackshaft')
meta(property='og:image' content='/splash.png')
meta(name='twitter:card' content='summary_large_image')
link(rel="dns-prefetch" href="//cdn.jsdelivr.net")
link(rel="dns-prefetch" href="https://worldtimeapi.org")
link(rel="dns-prefetch" href="https://mc.yandex.ru")
