#info1.uk-modal-full(uk-modal="")
  .uk-modal-dialog.uk-modal-body
    button.uk-modal-close-full.uk-close-large(type="button" uk-close="")
    .wrapper.text
      h2.uk-modal-title СТАНДАРТЫ NEMA, DIN, IEC
      p Компания JackShaft выпускает электродвигатели в соответствии с различными международными стандартами, в том числе NEMA, DIN, IEC, что позволяет удовлетворить самые высокие требования клиентов со всего мира.
      p В компании JackShaft Вы можете заказать электродвигатели с любым классом энергоэффективности (IE1, IE2, IE3 и IE4). Корпуса всех электродвигателей изготавливаются из высокопрочных и коррозионностойких материалов, что позволяет использовать их для любого промышленного производства, а также в условиях воздействия агрессивных сред.
      p Электродвигатели компании JackShaft по умолчанию оснащены подшипниками качения большего типоразмера, чем аналогичные электродвигатели от известных мировых брендов, что обеспечивает высокую надежность их работы.
      p Электродвигатели компании JackShaft могут комплектоваться как стандартными опциями, такими как, датчики температуры обмоток (РТС,KTY,PT100), датчиками температуры подшипников (РТС,РТ100), датчиками скорости, тормозами и многими другими, а также иметь специальное исполнение для удовлетворения самих нестандартных требований заказчика. 
      p Электродвигатели компании JackShaft , выпускаемые по стандартам NEMA, DIN, IEC, имеют электрические параметры и основные присоединительные размеры, аналогичные электродвигателям известных мировых лидеров, таких как, Siemens, ABB, VEM. Это позволяет предлагать нашим клиентам продукцию аналогичного качества с идентичными характеристиками, но по более доступной цене. 
#info2.uk-modal-full(uk-modal="")
  .uk-modal-dialog.uk-modal-body
    button.uk-modal-close-full.uk-close-large(type="button" uk-close="")
    .wrapper
      h4.uk-modal-title ГОСТ
      .pic
        .left
          img.lazy(data-src="/img/info1.png" alt="")
        .right.text
          p Ни для кого не секрет, что электродвигатели российского производства не отличаются хорошим качеством изготовления. Многие Российские компании вынуждены держать на складах избыточные складские запасы электродвигателей для обеспечения бесперебойной работы своего предприятия. Но уже несколько лет назад ситуация в корне поменялась. Компания JackShaft разработала линейку электродвигателей серии JS-AM-LV-LT- E2 согласно стандартам ГОСТ. Данная линейка двигателей позиционируется, как аналог таким известным сериям, таким как 4А, 5А, АИР и т.д. Электродвигатели данной серии имеют расширенный диапазон рабочих температур окружающего воздуха, что обеспечивает их длительную и надежную эксплуатацию даже в суровых климатических условиях. Клиенты, которые устали от постоянного выхода из строя некачественных электродвигателей, убытков, в результате простоя оборудования, теперь могут заказать у нас качественные электродвигатели по стоимости, сравнимой с российскими электродвигателями.
      .title-block
        .wrapper
          h4.sub Оставьте заявку, и наш специалист свяжется с Вами в ближайшее рабочее время
      +contact('1', ['inf-radio1', 'inf-radio2', 'inf-radio3', 'inf-radio4', 'inf-radio5', 'inf-radio6'], 'm1DZ')
#info3.uk-modal-full(uk-modal="")
  .uk-modal-dialog.uk-modal-body
    button.uk-modal-close-full.uk-close-large(type="button" uk-close="")
    .wrapper
      h2.uk-modal-title ОТРАСЛЕВЫЕ РЕШЕНИЯ
      .pic
        .left
          img.lazy(data-src="/img/info2.png" alt="")
        .right.text
          p Помимо стандартного применения электродвигателей, компания JackShaft уделяет не мало внимания специальным применениям, в которых широкое применение находят взрывозащищенные электродвигатели, электродвигатели для дымоудаления, крановые двигатели и многие другие. В распоряжении заказчиков имеется полная линейка взрывозащищенных электродвигателей с типами взрывозащиты Exn, Ext, Ex e, Ex d. Двигатели выпускаются как на низкое, так и на высокое напряжение. Сегодня электродвигатели JackShaft специального назначения находят свое применение в приводных механизмах в нефтегазовой отрасли, металлургии, горной промышленности.
      .title-block
        .wrapper
          h4.sub Оставьте заявку, и наш специалист свяжется с Вами в ближайшее рабочее время
      +contact('2', ['ind-radio1', 'ind-radio2', 'ind-radio3', 'ind-radio4', 'ind-radio5', 'ind-radio6'], 'm2DZ')
#info4.uk-modal-full(uk-modal="")
  .uk-modal-dialog.uk-modal-body
    button.uk-modal-close-full.uk-close-large(type="button" uk-close="")
    .title-block
      .wrapper
        h2.uk-modal-title ИНДИВИДУАЛЬНЫЙ ЗАКАЗ 
    .wrapper
      .pic
        .left
          img.lazy(data-src="/img/info3.jpg" alt="")
        .right.text
          p Благодаря большому опыту работы, штату высококвалифицированных специалистов и применению современного оборудования и инструментов, компания JackShaft может выполнить комплекс работ по проектированию и изготовлению электродвигателей в соответствии с индивидуальными требованиями Заказчика. Подробно опишите Ваши требования нашим специалистам и мы обязательно Вам поможем.
      .title-block
        .wrapper
          h4.sub Оставьте заявку, и наш специалист свяжется с Вами в ближайшее рабочее время
      +contact('3', ['indiv-radio1', 'indiv-radio2', 'indiv-radio3', 'indiv-radio4', 'indiv-radio5', 'indiv-radio6'], 'm3DZ')

